name: new Distribute IPA to Firebase App Distribution

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  repository_dispatch:
    types: ['distribute-ipa-no-ci']

jobs:
  distribute-ipa:
    strategy:
      fail-fast: false
      matrix:
        os: [ macos-26 ]
        # ^^^ macos-26 Installed Software: https://github.com/actions/runner-images/blob/main/images/macos/macos-26-arm64-Readme.md
        ruby: [ '3.4.2' ]
        xcode: [ '26.2' ]
        # ^^^ See all Xcode versions (for macos-26): https://github.com/actions/runner-images/blob/main/images/macos/macos-26-arm64-Readme.md#xcode

    runs-on: ${{ matrix.os }}

    env:
      SENTRY_PROPERTIES: ${{ github.workspace }}/ios/sentry.properties
      SENTRY_DIST: 0
      SENTRY_RELEASE: alpha
      SSH_AUTH_SOCK: /tmp/ssh_agent.sock
      USER_NAME: ${{ secrets.GITLAB_USER_NAME }}
      USER_EMAIL: ${{ secrets.GITLAB_USER_EMAIL }}
      SSH_KNOWN_HOST: ${{ secrets.SSH_KNOWN_HOST }}
      SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
      CURRENT_BRANCH: ${{ github.event.client_payload.branch }}
      GIT_LAB_COMMIT_SHA: ${{ github.event.client_payload.commit_sha }}
      GIT_LAB_PIPELINE_ID: ${{ github.event.client_payload.pipeline_id }}
      REPO_URL: ${{ secrets.REPO_URL }}
      DATABASE_DEFAULT_ENCRYPTION_KEY: ${{ secrets.DATABASE_DEFAULT_ENCRYPTION_KEY }}
      OAUTH_CLIENT_ID_ANDROID: ${{ secrets.OAUTH_CLIENT_ID_ANDROID }}
      APP_METRICA_API_KEY: ${{ secrets.APP_METRICA_API_KEY_STAGING }}
      FIREBASEAPPDISTRO_APP: ${{ secrets.FIREBASE_APP_ID_IOS }}
      FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
      FASTLANE_USER: ${{ secrets.FASTLANE_USER }}
      FASTLANE_PASSWORD: ${{ secrets.FASTLANE_PASSWORD }}
      FASTLANE_SESSION: ${{ secrets.FASTLANE_SESSION }}
      MATCH_GIT_BASIC_AUTHORIZATION: ${{ secrets.MATCH_GIT_BASIC_AUTHORIZATION }}
      MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
      GIT_LAB_ACCESS_TOKEN: ${{ secrets.GIT_LAB_ACCESS_TOKEN }}
      Ð¡USTOM_BUILD_NUMBER: ${{ github.run_number }}
      OAUTH_CLIENT_ID_IOS: ${{ secrets.OAUTH_CLIENT_ID_IOS_STAGING }}
      ACTIONS_STEP_DEBUG: true
      AMPLITUDE_API_KEY: ${{ secrets.AMPLITUDE_API_KEY_STAGING }}
      REVENUECAT_API_KEY_IOS: ${{ secrets.REVENUECAT_API_KEY_IOS }}
      REVENUECAT_API_KEY_ANDROID: ${{ secrets.REVENUECAT_API_KEY_ANDROID }}
      OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}

    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v4

    - run: npx envinfo

    - name: Check all required variables
      run: sh ./scripts/common-check.sh && sh ./scripts/ios-dev-check.sh

    - name: Configure git users
      run: |
          git config --global user.name "$USER_NAME"
          git config --global user.email "$USER_EMAIL"

    - name: Setup SSH keys and known_hosts
      run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan $SSH_KNOWN_HOST >> ~/.ssh/known_hosts
          ssh-agent -a $SSH_AUTH_SOCK > /dev/null
          ssh-add ~/.ssh/id_rsa

    - name: Get repository
      run: |
        rm -rf ./.git ./.github ./.gitignore ./*
        ls -la ./
        git clone "$REPO_URL" --branch="$CURRENT_BRANCH" --single --depth=1 ./
        git log -1

    - name: Select Xcode ${{ matrix.xcode }} Version
      run: sudo xcode-select -switch /Applications/Xcode_${{ matrix.xcode }}.app

    - name: Restore Yarn cache
      id: yarn_cache_restore
      uses: actions/cache/restore@v4
      with:
        path: node_modules
        key: ${{ runner.os }}-yarn-${{ hashFiles('yarn.lock') }}-patches-${{ hashFiles('patches/*.patch') }}
        restore-keys: ${{ runner.os }}-yarn-

    - name: Install node_modules
      if: steps.yarn_cache_restore.outputs.cache-hit != 'true'
      shell: bash
      run: |
        # Retry 3 times before the steps actually fails
        (echo "===== Install node_modules Attempt:  1 ====" && yarn install --frozen-lockfile) || \
        (echo "===== Install node_modules Attempt:  2 ====" && yarn install --frozen-lockfile) || \
        (echo "===== Install node_modules Attempt:  3 ====" && yarn install --frozen-lockfile) || \
        (echo "===== Install node_modules Step Failed ====" && exit 1)

    - run: yarn postinstall

    - name: Save Yarn cache
      id: yarn_cache_save
      uses: actions/cache/save@v4
      if: steps.yarn_cache_restore.outputs.cache-hit != 'true'
      with:
        path: node_modules
        key: ${{ steps.yarn_cache_restore.outputs.cache-primary-key }}


    - name: Pods cache
      uses: actions/cache@v4
      with:
        path: |
          ~/.cocoapods
          ~/Library/Caches/CocoaPods
        key: ${{ runner.os }}-pods-${{ hashFiles('ios/Podfile.lock') }}
        restore-keys: ${{ runner.os }}-pods-

    - run: RCT_NEW_ARCH_ENABLED=1 pod install
      working-directory: ios


    - name: Install Ruby ${{ matrix.ruby }}
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true

    - run: bundle install --jobs 4 --retry 3

    - name: iOS build cache
      uses: actions/cache@v4
      env:
        ACTIONS_STEP_DEBUG: true
      with:
        path: .local_derived_data
        key: ${{ runner.os }}-pods-derived-data-${{ hashFiles('ios/Podfile.lock') }}

    - name: Run fastlane line "fastlane ios distribute" with PROD ENV variables
      run: bundle exec fastlane ios distribute
      env:
        BETA_BUILD: true
